*{overflow-x: hidden;
    touch-action: pan-y;}

body{
background-color: #fdfdfd;
background: url("https://images.unsplash.com/photo-1561484930-998b6a7b22e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
background-size: cover;
background-position: center;
overflow-x: hidden;

}


.weathertitle{} 

.disable-double-tap {
    touch-action: manipulate;
  } 

.temp{font-size: 40px;
    transform: translateX(1000px);
    transition-duration: 500ms;

    transition-timing-function: ease;
    opacity:0;
    display:none;
}

.temp2{
    transform: translateX(0px);
    transition-duration: 500ms;
    transition-timing-function: ease;
    opacity:1;
    display:block;
}

.name{font-size: 30px;
    transform: translateX(-1000px);
    transition-duration: 500ms;
margin-top:0px;
    transition-timing-function: ease;
    opacity:0;
}

.name2{transform: translateX(0px);

    opacity:1;
}





.time{margin-top: 10px;  /* it was -15 */
    font-size: 20px;

    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-property: opacity;
    opacity:0;

    display:none;
}

.time2{

    transition-duration: 3000ms;
    transition-timing-function: ease;
    opacity:1;
    display:block;
}


.prac{transform: translateX(-1000px);
    transition-duration: 500ms;

    transition-timing-function: ease;
    opacity:0;
}

.prac2{transform: translateX(0px);
    transition-duration: 500ms;
    transition-timing-function: ease;
    opacity:1;
}





.gmapcanvas{height:400px;
    margin-top:5px;
width:400px;
border:2px solid black;
border-radius: 9px;

opacity:0;
}

.display{opacity:1}
.displayblock{display:none;}



.desc{
    font-size: 20px;}

.userinput{/* margin-top: 10px; */
    
border-radius: 5px;

padding:5px;
background-image: url(./searchglass.svg);
background-repeat: no-repeat;
background-size: 18px;
background-position:3px 4px;
padding-left:29px;
font-size:16px;
}

.btn{padding:5px;
margin-left:4px;
border-radius: 4px;
width:100px;
color:white;
background: rgba(48, 101, 155, 1);}

.btn:hover{background: navy  }




.wrapper{

    height:800px;
    width:500px;
        width:90vh;
        -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px);
        background: rgba(0,0,0,0.25) ;
    min-width:500px;
    }



.divy{
   margin-top:10px;
text-align: center;
color:white;
position:relative;
height:fit-content;
}



.display{margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
    
    text-align: center;}



.parentcontainer{
    height:97.7vh;


    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  
}



.btn {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
          font-size: 16px;
  }
  
  @media (max-width:402px){

    .gmapcanvas{width:360px;}
  }

  @media (max-height:538px){
    .gmapcanvas{display:none;}

  }

  @media (max-width:365px){

    .btn{width:90px;}
  }